.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(64, 66, 66);
  color: rgb(255, 255, 255);
  font-family: 'Hanalei Fill';font-size: 16px;
}

.products:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.22);
  animation: products-shadow-move .2s ease-in-out forwards;
}

@keyframes products-shadow-move {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -5px);
  }
}

.products {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background: rgb(114, 114, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 530px;
  margin-left: auto;
  margin-right: auto;
  
}



.productcard {
  margin-left: 5cm;
  margin-right: 5cm;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap ;
  z-index: 0;
}

button {
  background: rgb(0, 0, 0);
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(0,0,0);
  color: white;
  cursor: pointer;
  position:relative;
  overflow: hidden;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  margin-top: auto;
  object-position: center;

}


/* .banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background2.jpg);
  background-color: cover;
  background-position: center;
  background-attachment: fixed;
} */

/* .content { */
  /* background: url(https://media.tenor.com/Jsyw3sFFPXsAAAAd/call-of-duty-wallpaper.gif); */
  /* background: url(https://i.pinimg.com/originals/c3/ae/8b/c3ae8b679648b7be5101cb3480ea5cfd.gif); */
 /* background: url(https://i.pinimg.com/originals/5b/ed/00/5bed000df57b090e6f0d91969a80b091.gif); */
 /* background: url(https://thumbs.gfycat.com/NaughtyMeaslyIndochinahogdeer-max-1mb.gif); 
  

  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent;   */
  
  /* width: 600px; */
  /* height: 300px; */
  /* box-sizing: border-box; */
  /* font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;  */
  /* text-shadow: 
        0 0 10px rgb(113, 105, 105),
        0 0 100px rgb(112, 106, 106), 
         0 0 150px rgb(163, 156, 156);  */
  
/* 
 transform: translate(-50%, 20%);
  left: 50%;
  position: absolute;
  font-family: 'Hanalei Fill';

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
     display:block; 

} */

.h1 {
  background-color:#fff;
    overflow:hidden;
    display:inline-block; 
    padding:10px; 
    font-weight:bold;
    font-family:arial;
    color:transparent;
    font-size:200px;
}

span { 
  background: url(https://www.fightersgeneration.com/nf7/char/akira-vf5-water-effect.gif
  ) -20px -20px repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display:block;
}




.banner {
  width: 100%;
  height: 60vh;
  /* background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background2.jpg) ; */
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://www.fightersgeneration.com/nf7/char/akira-vf5-water-effect.gif);
  /* background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://giffiles.alphacoders.com/124/12454.gif); */
  animation: background-fade-in 2s ease-in-out forwards;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
  /* padding-top: -50%; */
  background-size: cover;
  background-position: center;

  
  
  

}

@keyframes background-fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.navbar {
  width: 90%;
  margin: auto;
  /* padding: 10px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Hanalei Fill';font-size: 22px;
  padding-top: -10px;
  padding-bottom: -10px;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding-bottom: -10px;
}

/* .navbar li { */
  /* margin-right: 20px; */
/* } */

/* .loginButton, .signupButton {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
} */

/* .signupButton, .okButton, .homeButton {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} */

.loginButton, .signupButton, .okButton, .homeButton {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position:relative;
  overflow: hidden;
  width: 100px;
  text-align: center;
  margin: 20px 10px;
  margin-top: auto;
  object-position: center;
}
.loginButton:hover, .signupButton:hover, .okButton .homeButton:hover {
  background-color: #fff;
  /* background-image: url(https://media.tenor.com/Jsyw3sFFPXsAAAAd/call-of-duty-wallpaper.gif); */
  background-image: url(https://i.pinimg.com/originals/c3/ae/8b/c3ae8b679648b7be5101cb3480ea5cfd.gif);
  /* color: #333; */
  box-shadow: 0px 0px 10px #fff;
  transform: scale(1.1);
}
.loginButton:active, .signupButton:active, .okButton .homeButton:active {
  transform: translateY(3px);
}


.navbar ul li ::after {
  content :'';
  height: 3px;
  width: 0%;
  /* background: red; */
  position: absolute;
  left: 0;
  /* bottom: -10px; */
  transition: 0.5s;
}

.navbar ul li :hover::after {
  width: 100%;
  
}

.search {
    text-align: center;
    display: inline-flexbox;
  font-family: 'Hanalei Fill';
  padding: 20px;
}

/* MODAL */



.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: black;
  position: fixed;
  transform: translateX(-750px);
  z-index: 1000;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.5s
}

input[type="submit"] {
  padding: 12px 20px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@-webkit-keyframes animatetop {
  from {top:-200px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}


.loginText {
  display: flex;
  align-items: center;
}

.login_label {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.login_input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 50%;
}

.okButton {
  background-color: #5cb85c;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* .close {
  position: left;
  right: 20px;
  top: 20px;
  cursor: pointer;
} */

.close {
  color: black;
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


.purchaseModalContainer{
  transform: none;
  top: 10%; right: 0; left: 0;
  margin: 0 auto;
}

.purchaseModalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .title {
  text-align: center;
  font-size: 40px;
}

.modalContainer .loginText {
  text-align: center;
}

#tempname{
  color: white;
  /* transform: translateX(1250px); */
  z-index: 1;
}

/* .homeButton {
  text-decoration: none; */
  /* color: greenyellow; */
  /* border: 0px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
} */


.myGamesButton {
  text-decoration: none;
  /* color: greenyellow; */
  border: 0px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.myGamesButton:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 10px #fff;
}


.homeButton:hover {
  background-color: #fff;
  background-image: url(https://i.pinimg.com/originals/c3/ae/8b/c3ae8b679648b7be5101cb3480ea5cfd.gif);

  color: #333;
  box-shadow: 0px 0px 10px #fff;
}

.searchTitle {
  text-align: center;
  font-size: 75px;
  font-family: 'Hanalei Fill';
  padding: 10px;

}

.close {
  
  cursor:pointer;
  text-align: left;
}
 
  
.close:hover {
 		
    opacity: 0.3;
  }

.okButton {
  font-family: 'Hanalei Fill';
  padding: 20px 20px;
  /* border: 2px solid rgb(58, 57, 57); */
  border-radius: px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.okButton:hover {
  background-color: rgb(40, 3, 3);
  color: rgb(131, 119, 119);
  box-shadow: 0px 0px 10px #fff;
}

.specificGame {
  
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    /* padding: 2.5em 0; */
    height: 700px;
    /* min-width: 600px; */
    /* background-color: white; */
    /* border-radius: 5px;  */
  
} 

.gameContainer {
    align-items: center;
    display: flex;
    /* grid-template-rows: 1fr 1fr; */
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 40px;
    /* height: 100%; */
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    justify-content: center; }


.controls { 
  
		/* display: flex;  */
		justify-content: space-between;
    margin-right: 100px;
	   padding: 0.8em; 
		color: #fff;
 }  

.specificGameName {
  margin-bottom: 0.1em;
		font-size: 1.5em;
} 

/* .page .banner {
	display: none;
  visibility: hidden;
} */

.photo-main {
	border-radius: 6px 6px 0 0;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
  float: left;
}

.redfont{
  color: red;
}

/* Footer  */

footer {
  position: absolute;

  bottom: 0;

  left: 0;

  right: 0;

  background: #111;

  height: auto;


  padding-top: 40px;

  color: #fff;
}

.footer-content {
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;

  font-weight: 500;

  text-transform: capitalize;

  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;

  margin: 10px auto;

  line-height: 28px;

  font-size: 14px;

  color: #cacdd2;
}

.socials {
  list-style: none;

  display: flex;

  align-items: center;

  justify-content: center;

  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;

  color: #fff;

  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;

  width: 20px;

  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;

  

  padding: 20px;

  padding-bottom: 40px;

  text-align: center;
}

.footer-bottom p {
  float: left;

  font-size: 14px;

  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;

  font-size: 16px;

  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;

  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;

  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;

    margin-top: 10px;

    margin-bottom: 20px;

    text-align: center;
  }
}

.settingsText {
  text-align: center;
  list-style: none;
  /* padding: 20px; */
  
}

.settingsTitle {
  text-align: center;
  font-size: 4em;
}

.settingsLabel {
  /* padding-top: 20px; */
  padding-right: 5px;
}

.inputWrapper {
  margin: 20px 0;
}

.emojiHead {
  text-align: center;
  font-size: 10em;

}

.logoutButton {
  color: #27bcda;
}

.linkbutton:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.specificGameTitle {
  text-align: center;
  font-size: 3em;
  padding-top: 80px;
}

.purchaseButton{
  margin-right: auto;
  margin-left: auto;
}

.settingpadding{
  margin-bottom: 100px;
}

.logoutButton, .settingsButton{
  margin-top: 10px;
}

.signup_label {
  margin-bottom: 1rem;
  display: block;
}